
.navbar{
    ul{
        list-style-type: none;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        background-color: rgb(24, 199, 62);
    }
    li{
        float: left;
        margin-right: 18px;
    }
    li a{
        display: block;
        color: black;
        text-align: center;
        padding: 14px 20px;
        text-decoration: #10c8f7;
    }
    li a:hover{
        background-color:#10c8f7;
    }

    

}
.content{
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

.footer{
    p{
        list-style-type: none;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        background-color: rgb(24, 199, 62);
        text-align: center;  
    }
}